name: mall_mobile_test
description: "Mall Application"
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  equatable: ^2.0.7
  latlong2: ^0.9.1
  flutter_bloc: ^9.1.1
  flutter_map: ^8.1.1
  flutter_staggered_grid_view: ^0.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/